<?xml version="1.0" encoding="UTF-8"?>
<!--
<amq:AMQ-client-instance xmlns:msg="aurora.application.features.msg" xmlns:jms="aurora.plugin.jms" xmlns:amq="aurora.plugin.amq" url="failover:(tcp://10.2.48.154:61619)">
	    <messageHandlers>
	        <msg:DefaultMessageHandler name="refreshPriviledge" procedure="init.load_priviledge_check_data"/>
	        <msg:DefaultMessageHandler name="refreshService" procedure="init.load_system_service"/>
	    </messageHandlers>
		
	    <consumers>
	        <jms:consumer topic="application_foundation">
	            <events>
	                <msg:event handler="refreshPriviledge" message="priviledge_setting_change"/>
	                <msg:event handler="refreshService" message="service_config_change"/>
	            </events>
	        </jms:consumer>
			<jms:DefaultNoticeConsumer topic="dml_event"/>
			<jms:DefaultNoticeConsumer topic="task"/>
	    </consumers>
		
</amq:AMQ-client-instance>
-->
<msg:Aurora-client-instance xmlns:msg="aurora.application.features.msg" >
	    <messageHandlers>
	        <msg:DefaultMessageHandler name="refreshPriviledge" procedure="init.load_priviledge_check_data"/>
	        <msg:DefaultMessageHandler name="refreshService" procedure="init.load_system_service"/>
	    </messageHandlers>
		
	    <consumers>
	        <msg:consumer topic="application_foundation">
	            <events>
	                <msg:event handler="refreshPriviledge" message="priviledge_setting_change"/>
	                <msg:event handler="refreshService" message="service_config_change"/>
	            </events>
	        </msg:consumer>
			<msg:DefaultNoticeConsumer topic="dml_event"/>
	    </consumers>
</msg:Aurora-client-instance>
