<ws:SOAPConfiguration xmlns:ws="aurora.service.ws" model="sys.WS.sys_web_services_for_query">
	<soapResponse xmlns="http://www.aurora-framework.org/schema">         
		<status>N</status>         
		<message>${/error/@message}</message>
		<result>${/parameter/@result}</result>				
	</soapResponse>
</ws:SOAPConfiguration>